{% extends "base.html" %}

{% block main %}
    <main class="d-flex flex-column main-sizing-index row-cols-1 align-items-center">
        <div class="mb-5 col-12 col-sm-8 col-md-6 col-lg-5">
            <a href="" class="w-100 btn btn-outline-success">Charger une photo</a>
        </div>
        <div class="mb-5 mt-5 col-12 col-sm-8 col-md-6 col-lg-5">
            <a href="" class="w-100 btn btn-outline-success">Saisir les informations du sinistre</a>
        </div>
        <div class="mt-5 col-12 col-sm-8 col-md-6 col-lg-5">
            <a href="" class="w-100 btn btn-outline-success">Envoyer ma déclaration</a>
        </div>
    </main>
{% endblock %}

    